<%#
  Barre latérale principale de l'application

  Cette barre latérale contient les liens de navigation principaux et les sous-menus.
  Elle est incluse dans toutes les pages du tableau de bord.
%>


<div class="sidebar" id="sidebar" data-controller="sidebar" data-sidebar-target="sidebar">
  <button class="pin-button" id="pin-sidebar">
    <i class="fas fa-thumbtack"></i>
  </button>

  <div class="logo">
    <span class="logo-letter">B</span>
    <div class="dot"></div>
    <span class="full-logo">Baserob</span>
  </div>

  <nav class="sidebar-nav">
    <a href="<%= welcome_index_path %>" class="<%= current_page?(welcome_index_path) ? 'active' : '' %>">
      <i class="fi fi-tr-house-window"></i><span>Home</span>
    </a>

    <a href="<%= requests_index_path %>" class="<%= current_page?(requests_index_path) ? 'active' : '' %>">
      <i class="fi fi-tr-chart-network"></i><span>AI Analytics</span>
    </a>

    <a href="<%= geo_scorings_path %>" class="<%= current_page?(geo_scorings_path) ? 'active' : '' %>">
      <i class="fi fi-tr-pan"></i><span>Performance</span>
    </a>

    <a href="">
      <i class="fi fi-tr-onboarding"></i><span>Resources</span>
    </a>

    <a href="#" data-action="click->sidebar#openSettings">
      <i class="fi fi-tr-customization-cogwheel"></i><span>Settings</span>
    </a>

    <div class="sidebar-footer">
      <% if user_signed_in? %>
          <div style="margin-top: auto;" class="dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", 
                         class: "avatar avatar-bordered", 
                         id: "sidebarDropdown", 
                         data: { bs_toggle: "dropdown" }, 
                         'aria-haspopup': true, 
                         'aria-expanded': false, 
                         style: "width: 25px; height: 25px; margin-left: 8px; border-radius: 50%; object-fit: cover;" %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarDropdown">
              <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </div>
      <% else %>
        <div class="login-link">
          <%= link_to "Login", new_user_session_path, class: "btn btn-sm btn-outline-primary" %>
        </div>
      <% end %>
    </div>
  </nav>
  
</div>
