<%#
  Barre latérale principale de l'application

  Cette barre latérale contient les liens de navigation principaux et les sous-menus.
  Elle est incluse dans toutes les pages du tableau de bord.
%>


<div class="sidebar" id="sidebar" data-controller="sidebar" data-sidebar-target="sidebar">
  <button class="pin-button" id="pin-sidebar">
    <i class="fas fa-thumbtack"></i>
  </button>

  <div class="logo">
    <span class="logo-letter">B</span>
    <div class="dot"></div>
    <span class="full-logo">Baserob</span>
  </div>

  <nav class="sidebar-nav">
    <a href="<%= welcome_index_path %>" class="<%= current_page?(welcome_index_path) ? 'active' : '' %>">
      <i class="fi fi-tr-house-window"></i><span>Home</span>
    </a>

    <a href="<%= requests_index_path %>" class="<%= current_page?(requests_index_path) ? 'active' : '' %>">
      <i class="fi fi-tr-chart-network"></i><span>AI Analytics</span>
    </a>

    <a href="<%= geo_scorings_path %>" class="<%= current_page?(geo_scorings_path) ? 'active' : '' %>">
      <i class="fi fi-tr-pan"></i><span>Performance</span>
    </a>

    <a href="<%= blog_path %>" class="<%= current_page?(blog_path) ? 'active' : '' %>">
      <i class="fi fi-tr-onboarding"></i><span>Resources</span>
    </a>

    <a href="#" data-action="click->sidebar#openSettings">
      <i class="fi fi-tr-customization-cogwheel"></i><span>Settings</span>
    </a>

    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, style: "margin-top: auto;" do %>
        <i class="fi fi-tr-sign-out-alt"></i><span>Logout</span>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <i class="fi fi-tr-sign-in-alt"></i><span>Login</span>
      <% end %>
    <% end %>
  </nav>
  
</div>
