<div class="dashboard-container"
    data-sidebar-target="sidebar"
    data-controller="quick-start"
    data-quick-start-is-opened-value="<%= @needs_company_setup %>">
    <%= render "welcome/quick_start_modal" %>
  <!-- Main Content -->
  <div class="main-content">
    <!-- Header -->
    <header class="dashboard-header">
      <div class="header-top">
        <div class="welcome-text">
          <h1>Welcome on Baserob</h1>
          <p class="date"><%= Date.today.strftime("%A %d %B %Y") %></p>
        </div>
      </div>
     
    </header>

    <!-- Quick Actions Grid -->
    <section class="quick-actions">
      <div class="cards-grid">
        <!-- Quick start Card -->
        <div class="action-card">
          <div class="card-header">
          <h3>Quick tracking setup</h3>
          </div>
          <p>Generate your tracking dashboard in one click from your own data</p>
          <a href="#" class="card-action"
          data-action="click->quick-start#openModal"
          id="openModalButton"
          style="font-size: 1.5em; position: absolute; bottom: 15px; left: 10%; transform: translateX(-50%);">
            <i class="fi fi-rr-angle-square-right"></i>
          </a>
        </div>

        <!-- Quick Start GEO Scoring Card -->
        <div class="action-card">
          <div class="card-header">
          <h3>GEO Scoring</h3>
          </div>
          <p>Analyze, track, and optimize brand presence on AI search engines thanks to your Generative Engine Optimization score</p>
          <div class="url-input">
            <input type="url" placeholder="Configure your first AI prompt">
            <a href="<%= geo_scorings_path %>" class="btn-secondary">
              <i class="fas fa-play"></i>
              Score
            </a>
          </div>
          <a href="<%= geo_scorings_path %>" class="card-action"
          style="font-size: 1em; position: absolute; bottom: 20px; left: 28%; transform: translateX(-50%);">
            Advanced configuration
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>

        <!-- AI Analytics Card -->
        <div class="action-card">
          <div class="card-header">
          <h3>AI Analytics</h3>
          </div>
          <div class="geo-preview">
            <%= pie_chart({
              "Other Visits" => (@ai_not_requests_percentage * 100).round(0),
              "AI-Driven Visits" => (@ai_requests_percentage * 100).round(0)
            }, donut: true, height: "150px", colors: ["#0E2954", "#84A7A1"], suffix: "%") %>
          </div>
          <p> Total Visits <%= @total_requests_count %> </p>
          <a href="<%= requests_index_path %>" class="card-action"
          style="font-size: 1em; position: absolute; bottom: 20px; left: 17%; transform: translateX(-50%);">
            See details
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </section>

    <!-- Help & Resources -->
    <section class="resources-section">
      <div class="section-header">
        <h2>Resources & Support</h2>
        <p>Get help to start</p>
      </div>

      <div class="resources-grid">
        <!-- Documentation -->
        <div class="resource-card">
          <div class="resource-icon">
            <i class="fas fa-book"></i>
          </div>
          <div class="resource-content">
            <h3>Documentation</h3>
            <p>Detailed guides and API references</p>
            <a href="#" class="resource-link">Consult<i class="fas fa-chevron-right"></i></a>
          </div>
        </div>

        <!-- Video Tutorials -->
        <div class="resource-card">
          <div class="resource-icon">
            <i class="fas fa-video"></i>
          </div>
          <div class="resource-content">
            <h3>Video Tutorials</h3>
            <p>Learn by example</p>
            <a href="#" class="resource-link">Watch <i class="fas fa-chevron-right"></i></a>
          </div>
        </div>

        <!-- Support -->
        <div class="resource-card">
          <div class="resource-icon">
            <i class="fas fa-headset"></i>
          </div>
          <div class="resource-content">
            <h3>Support</h3>
            <p>Get personalized help</p>
            <a href=" <%= new_contact_path %>" class="resource-link">Contact <i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
