<%= simple_form_for :search, url: requests_path, method: :get, local: true do |f| %>
  <div class="form-row">
    <div class="col-md-4">
      <%#= label_tag :ai_provider, "AI Provider" %>
      <%= f.input :ai_provider, collection: AiProvider.all, include_blank: "All AI Providers", class: "form-control" %>
    </div>

    <!-- Filtre par Timeline -->
    <div class="col-md-4">
      <%#= label_tag :timeline, "Timeline" %><br>
      <%#= date_field_tag :start_date, params[:start_date], class: "form-control" %>
      <%#= date_field_tag :end_date, params[:end_date], class: "form-control" %>
    </div>
  </div>

  <%= submit_tag "Filter", class: "btn btn-primary mt-2" %>
<% end %>

<!-- Display the count -->
<p><strong>AI Crawler Requests:</strong> <%= @ai_crawler_requests_count %></p>

<!-- Display the filtered requests -->
<table class="table table-striped table-bordered">

    <% @requests.each do |request| %>
      <tr>
        <td><%= request.user_agent %></td>
        <td><%= request.referrer %></td>
        <td><%= request.domain %></td>
        <td><%= request.path %></td>
        <td><%= request.company.name %></td>
        <td><%= request.ai_provider.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
